3D Models
Additional setup
Animations
Config
Debug
Editor Utils
Fonts
GXEngine/Debug
GXEngineDLL/Debug
GXUtilsDLL/Debug
Icon
ipch
Libs
Locale
Materials
Physics
Release
Scenes
Sounds
Textures
GXEngine.sdf
GXEngine.suo
GXEngine.v11.suo
GXEngine.opensdf
